/* RESET */
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
html, body {
    height: 100%;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* GENERAL */
section.main {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
    justify-content: center;
}
.wrapper {
    width: 900px;
    max-width: 900px;
}

/* TABLE */
table {
    width: 100%;
}
svg.trash-icon {
    stroke: #AAA;
    fill: none;
    width: 20px;
    opacity: 0%;
}
svg.trash-icon:active {
    stroke: black;
    fill: none;
    width: 20px;
}
tr:hover>td>button>svg.trash-icon {
    opacity: 100%;
}
svg.plus-icon {
    stroke: black;
    fill: white;
    width: 20px;
}
svg.plus-icon:active {
    stroke: white;
    fill: black;
    width: 20px;
}

/* FORM RESET */
input {
    -webkit-appearance: none;
}
input, label, select, button, textarea {
	margin:0;
	border:0;
	padding:0;
	display:inline-block;
	vertical-align:middle;
	white-space:normal;
	background:none;
	line-height:1;
}
input:focus, select:focus {
	outline:0;
}
select {
    margin-left: -4px;
}
select option {
    padding: 0;
    color: inherit;
}
button, select {
    cursor: pointer;
}

/* ADD BOOK FORM */
.add-book input {
    border: 1px solid #E0E0E0;
    border-radius: 3px;
    padding: 6px 7px;
    background: white;
    width: 100%;
}
.add-book input:focus {
    border: 1px solid black;
    outline: 3px solid rgba(0, 0, 0, 0.15);
}

.add-book input.error {
    border: 1px solid red;
}

.add-book input.error:focus {
    border: 1px solid red;
    outline: 3px solid rgba(255, 0, 0, 0.15);
}

/* HEADER */
.header {
    margin-top: 20px;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}